<style>
body {
    font: normal 12px arial;
    background-color: #ccc;
}



.container {
    width: 80%;
    align-content: center; 
    text-align: center;  
    align-items: center;
    max-height: 700px;
    overflow: scroll;
}
#prntDiv {
    height: 70%;
    margin: 0 auto;
    width: 90%;
    border: 1px solid rgba(255,255,255,0.3);
}

p {
    margin: 0;
}
#btnDiv {
    border: 2px solid #000;
    width: 100%;
    text-align: left;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 25%;
    border-top: 20px solid rgba(234, 243, 233, 0.3);
    border-radius: 20px 20px 0px 0px;
    overflow: scroll;
    background: #000;
    color: white;
    padding: 0.2em;
}
body {
    align-content: center;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
}
.highlighted {
    border: 5px solid #00f;
    background: #ffffff;
}

.borderColor {
    border-color: #00ff00;
}
td {
    padding: 5px;
    border: 1px solid #999;
    display: table-cell;
    overflow: hidden;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: #000000;
    background: rgba(255, 255, 255, 0.8);
}
table {
    width: 100%; 
    border-collapse: collapse;
    table-layout: fixed;
    border: 2px solid;
    display: table;
}

th {
    border: 3px solid #000;
    padding: 5px 15px;
    text-align: center;
    font-weight: 800;
    font-size: 12px;
    overflow: hidden;
    color: #fff;
    background: rgba(111, 111, 111, 0.5);
    text-transform: uppercase;
}

tr {
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
}

.unselected {
    background: rgba(255,255,255,0.1);;
    color: black;
}
.selected {
    background: rgba(0, 0, 0, 1);
    font-weight: 900;
    color: white;
}

.editing {
    border: 3px solid #ffff00;
}

.error {
    background: #ff0000;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

</style>
