<style>
            body {
                font: normal 12px arial;
                background-color: #ccc;
            }

           .container {
               width: 100vw;
               align-content: center;
               
               text-align: center;  
               align-items: center;
                
               max-height: 700px;
               overflow: scroll;
           }
            #prntDiv {
               height: 700px;
               margin: 0 auto;
               width: 900px;
           }
           body {
               align-content: center;
               background: #2cb5e8;
                background: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
                background: o-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
                background: -moz-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
                background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
           }
            .highlighted {
                border: 2px dotted #000033;
                
            }
            td {
                padding: 5px;
                border: 1px solid #999;
		        width: 900px;
                display: table-cell;
                overflow: hidden;
                height: 20px;
                text-align: center;
            }
            table {
                width: 900px; 
                border-collapse: collapse;
		        border: 2px solid;
                display: table;
            }
            th {
                padding: 5px;
                border: 1px solid #999;
                width: 900px;
                height: 20px;
                display: table-cell;
                overflow: hidden;
                overflow-y: hidden;
                color: #333;  
                background: #eee;
            }

            tr {
                color: #333; 
                background: white;
            }



            .unselected {
                background: #ffffff;
                color: black;
            }
            .selected {
                background: #999999;
                font-weight: 900;
                color: white;
            }

        </style>
